@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DashBoard";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <a href="~/login">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h1> Login </h1>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
<!-- /.container-fluid -->
